<% include partials/header %>

  	<h1>Purchase a Car</h1>

  	<div>
	  	<h3>Trucks</h3>
	  	<table>
	        <thead>
	          <tr>
	            <th>Brand</th>
	            <th>Model</th>
	            <th>Color</th>
	            <th>Price</th>
	            <th>Test Drive</th>
	            <th>Purchase</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Chevy</td>
	            <td>Silverado</td>
	            <td>Red</td>
	            <td>$39,999</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Ford</td>
	            <td>F-150 Raptor</td>
	            <td>Dark Grey</td>
	            <td>$45,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Ram</td>
	            <td>1500</td>
	            <td>White</td>
	            <td>$29,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>GMC</td>
	            <td>Sierra</td>
	            <td>Black</td>
	            <td>$35,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	        </tbody>
	      </table>
	</div>

    <div>
	  	<h3>Sedan</h3>
	  	<table>
	        <thead>
	          <tr>
	            <th>Brand</th>
	            <th>Model</th>
	            <th>Color</th>
	            <th>Price</th>
	            <th>Test Drive</th>
	            <th>Purchase</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Honda</td>
	            <td>Civic</td>
	            <td>Blue</td>
	            <td>$18,950</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Mazda</td>
	            <td>3</td>
	            <td>Red</td>
	            <td>$21,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Mazda</td>
	            <td>6</td>
	            <td>Silver</td>
	            <td>$26,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Nissan</td>
	            <td>Altima</td>
	            <td>White</td>
	            <td>$20,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	        </tbody>
	      </table>
	</div>

    <div>
	  	<h3>SUV</h3>
	  	<table>
	        <thead>
	          <tr>
	            <th>Brand</th>
	            <th>Model</th>
	            <th>Color</th>
	            <th>Price</th>
	            <th>Test Drive</th>
	            <th>Purchase</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Nissan</td>
	            <td>Kicks</td>
	            <td>Orange</td>
	            <td>$25,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Mazda</td>
	            <td>CX-5</td>
	            <td>Dark Grey</td>
	            <td>$32,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Volkswagen</td>
	            <td>Tiguan</td>
	            <td>White</td>
	            <td>$26,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          <tr>
	            <td>Honda</td>
	            <td>CR-V</td>
	            <td>Forest Green</td>
	            <td>$32,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	        </tbody>
	      </table>
	</div>

    <div>
	  	<h3>Sports Car</h3>
	  	<table>
	        <thead>
	          <tr>
	            <th>Brand</th>
	            <th>Model</th>
	            <th>Color</th>
	            <th>Price</th>
	            <th>Test Drive</th>
	            <th>Purchase</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Chevy</td>
	            <td>Corvette</td>
	            <td>Red</td>
	            <td>$59,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Mazda</td>
	            <td>Miata</td>
	            <td>Red</td>
	            <td>$32,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>Porsche</td>
	            <td>718 Cayman</td>
	            <td>Silver</td>
	            <td>$58,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive';">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	          <tr>
	            <td>BMW</td>
	            <td>M2</td>
	            <td>White</td>
	            <td>$60,000</td>
	            <td><button type="button" onclick="location.href = '/testDrive;">Test Drive</button></td>
	            <td><button type="button" onclick="location.href = '/payment';">Purchase</button></td>
	          </tr>
	        </tbody>
	      </table>
	</div>

<% include partials/footer %>
