
        <script type="text/javascript">
var waitTime = 3600;
function timeout(setTime) {
    if(setTime != null){
        waitTime = setTime;
    }
    document.body.innerHTML = waitTime;
    if (waitTime < 0) {
        waitTime = 3600;
        document.body.innerHTML = '<input type="button" value="Click" onclick="timeout();" />';
        return;
    } else {
        waitTime--;
    }
    setTimeout("timeout()", 1000);
}

</script>

<% include partials/header %>

<h1>Test Drive</h1>

<h3>When the time is over, please return the key. Thank you!</h3>


  <input type="button" value="Crank up the car" style="#444444;width:240px;height:80px;border:2px #9999FF dashed;" onclick="timeout();" />

<% include partials/footer %>

</body></html>
