<% include partials/header %>
        <script type="text/javascript">
var waitTime = 20;
function timeout(setTime) {
    if(setTime != null){
        waitTime = setTime;
    }
    document.body.innerHTML = waitTime;
    if (waitTime < 0) {
        waitTime = 20;
        document.body.innerHTML = "<a href='/selection'>Select Another Car</a> <a href='/payment'>Purchase Current Car</a>";
        return;
    }
	else {
        waitTime--;
				if (waitTime == 0){
					alert("TIME UP! PLEASE RETURN CAR!");
				}
    }

    setTimeout("timeout()", 20);
}


</script>


<h1>Test Drive</h1>

<h3>When the time is over, please return the key. Thank you!</h3>


  <input type="button" value="Crank up the car" style="#444444;width:240px;height:80px;border:2px #9999FF dashed;" onclick="timeout();" />
</body></html>
