<% include partials/header %>


<div class="header" id="myHeader">
        <h1>Please Insert your key below and press OK</h1>
        <p>
            <button type="button" onclick="location.href = '/info';">OK</button>
        </p>
</div>

<% include partials/footer %>
