<% include partials/header %>

    <h2>Coverage</h2>
    <table>
        <thead>
         <tr>
          <th> Expiration Date
          <th> Expiration Miles
          <th> Retail Date
          <th> Wholesale Date
          <th> Wholesale Dealer
        <tbody>
         <tr>
          <td> 11/10/2021
          <td> 50,000
          <td> 11/10/2017
          <td> 11/10/2017
          <td> 38814
    </table>
    <br>
    <h2>Service Options</h2>
    <table>
        <thead>
         <tr>
          <th> Service
          <th> Remaining Distance
          <th> Remaining Runtime
          <th> Service Status
          <th> Price
        <tbody>
         <tr>
          <td> Oil
          <td> 0
          <td> 8/2019
          <td> Needed
          <td> $$
         <tr>
          <td> Tire Pressure
          <td>
          <td>
          <td> Good
          <td> $$
         <tr>
          <td> Battery
          <td>
          <td>
          <td> Good
          <td> $$
    </table>
    <div>
            <h3>Would you like to perform a service on your vehicle?</h3>
            <button onclick="location.href = '/car/service';">Yes</button>
            <button type="button">Not today</button>
    </div>

<% include partials/footer %>
