<% include partials/header %>

    <h2>Which services would you like to perform?</h2>
    <h3>Service Options</h3>
    <table>
        <thead>
         <tr>
          <th> Service
          <th> Remaining Distance
          <th> Remaining Runtime
          <th> Service Status
          <th> Price
          <th> Select
        <tbody>
         <tr>
          <td> Oil
          <td> 0
          <td> 8/2019
          <td> Needed
          <td> $$
          <td><input type="checkbox"><br>
         <tr>
          <td> Tire Pressure
          <td>
          <td>
          <td> Good
          <td> $$
          <td><input type="checkbox"><br>
         <tr>
          <td> Battery
          <td>
          <td>
          <td> Good
          <td> $$
          <td><input type="checkbox"><br>
    </table>
    <br>
    <button type="button" onclick="location.href = '/thankYou';">Continue</button>
    <div>

<% include partials/footer %>
