<% include partials/header %>

  	<h1>Great Choice!</h1>

  	<p>Please enter your payment details, then press submit payment. After payment is verified, your key will be dispensed and an employee will bring your car around for you.</p>

  	<label>Credit Card:
        <input type="number" name="fname" size="30" maxlength="100">
    </label>

    <p>OR</p>

    <label>Bank Account Number:
        <input type="text" name="fname" size="30" maxlength="100">
    </label>
    <br>
    <label>Bank Routing Number:
        <input type="text" name="fname" size="30" maxlength="100">
    </label>
    <br>

    <button>Submit Payment</button>

<% include partials/footer %>
