<% include partials/header %>

<h1>Test Drive</h1>

<h3>Please Place Your License in the Kiosk to be Scanned.</h3>
<p>Please dispense key then start your test drive.</p>

<button onclick="keydispense(this)" type="button">Dispense Key</button>
<button type="button" onclick="location.href = '/alarm';">Go For A Drive</button>
<button onclick = "returncar()" type="button">Return Car</button>

<% include partials/footer %>

<script>
function keydispense(buttn) {
    alert("Key has been dispensed!");
		buttn.style.display = "none";
}
function returncar(){
alert("Thank you test driving!");
location.href = '/selection';
}
</script>
