<% include partials/header %>

<h1>Test Drive</h1>

<h3>Please Place Your License in the Kiosk to be Scanned.</h3>
<p>Please press "Test Drive!", press okay on the alert, then start your test drive timer.</p>

<button onclick="keydispense()" type="button">Test Drive!</button>
<button type="button" onclick="location.href = '/alarm';">Driving Timer</button>



<script>
function keydispense() {
    alert("Key has been dispensed!");
}
</script>


<% include partials/footer %>
