#title {
  font-size: 32pt;
  float: left;
}

body {
  background-color: #fbfff5;
  margin: 10px;
}

h1 {
  margin: 25px;
}

h3 {
  margin: 25px;
}

p {
  margin: 25px;
}

div {
  border-style: solid;
  margin: 25px;
}

ul {
  height: 100px;
  list-style-type: none;
  background-color: #7fa9ad;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

li {
  float: right;
  line-height: 50px;
  height: 50px;
}

/* Don't make it look like a hyperlink */
li a {
  display: block;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 20px;
  text-decoration: none;
}

/* Change color when mouse hovers */ 
li a:hover {
  background-color: #688b8f;
}

table {
  margin: 25px;
  border-collapse: collapse;
  width: 95%;
}

th, td {
  width: 24%;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}

input {
  margin: 10px;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  margin-left: 25px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #00b098;
  width: 100%;

  padding: 50px;
}

footer p {
  color: #ffffff;
  text-align: center;
}